/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	margin: 0;
}

#content_container{
	width: 90%;
	margin: 0 auto;
}

input[type=text]{
	width: 12em;
	font-size: 1em;
	display: block;
}

input[type=submit], input[type=file]{
	display: block;
}

.green_submit_button{
	margin-top: 1em;
	background-color: #00CD00;
	color: white;
	border: 2px solid grey;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
	cursor: pointer;
}

h2{
	display: inline-block;
}




@media all and (max-width: 1025px){
	#content_container{
		
	}
	
	input[type=text]{
		width: 12em;
		font-size: 1.2em;
		display:block;
	}
}

@media all and (max-width: 600px){
	
}	

