<!DOCTYPE html>
<html>
<head>
  <title>RentBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type='text/javascript'>
		
	$(document).ready(function(){
		window.$container = $('#content_container');
		backbone_data.Helpers.fetchObjects();
		window.ns = window.object_namespace;
		window.router = new backbone_data.Routers.ApplicationRouter();
		Backbone.history.start({pushState: true});
		router.navigate(window.location.pathname, {trigger: true});
	});

</script>
<body>
	<div id='header_nav'>
		<span>RB</span>
	</div>	
	<div id='content_container'>
		
	</div>
</body>
</html>
