<!DOCTYPE html>
<html>
<head>
  <title>RentBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type='text/javascript'>
		
	$(document).ready(function(){
		window.$container = $('#content_container');
		$.ajax('/landlords/'+landlord_id+'.json', { 
					headers: {'Accept': 'text/javascript'},
				    contentType: "application/json; charset=utf-8",
			        dataType: "json",
		}).done(function(data){
			backbone_data.Helpers.setLandlord(data.landlord);
			backbone_data.Helpers.setBuildings(data.buildings);
			backbone_data.Helpers.fetchObjects();
			window.ns = window.object_namespace;
			window.router = new backbone_data.Routers.ApplicationRouter();
			Backbone.history.start({pushState: true});
			router.navigate(window.location.pathname, {trigger: true});
		}).error(function(){

		});
	});

</script>
<body>
	<div id='header_nav'>
		<span>RB</span>
	</div>	
	<div id='content_container'>
		
	</div>
</body>
</html>
